
.admin-configuration{
    position: relative;
    width: 75%;
    height: 90%;
    background-color: #61C1F6;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    display: flex;
    justify-content: center;
}

.admin-items {
    width: 80%;
    height: 100%;
    align-self: center;
}

.search-table-container{
    display: flex;
    margin-bottom: 1vh;
}

.table{
    height: 37vh;
    width: 100%;
    overflow: auto;
    margin-bottom: 1vh;
}

.table-modify{
    display: flex;
    justify-content: space-around;
}
.swal2-container{
    z-index: 10000;
}
