.card-secondary-container{
    width: 95%;
    height: 90%;
    margin: 2.5%;
    background-color: #369DD7;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color:white;
}

.card-image{
    margin:2.5%;
    width: 40%;
    height: 90%;
}

.card-image img{
    width: 100%;
    height: 100%;
    border: 4px solid black;
}

.card-data {
    width: 50%;
    height: 100%;
}

.card-name{
    width: 100%;
    height: 20%;
    margin: 2.5% 2.5% 0 2.5%;
    border: 2px solid black;
    background-color: #61C1F6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 80%;
}

.card-name h1{
    margin: 5%;
}
.card-attributes {
    width: 100%;
    height: 60%;
    margin: 2.5% 2.5% 0 2.5%;
    background-color: #61C1F6;
    border: 2px solid black;
    font-size: 80%;
}

.card-attribute-game{
    position: relative;
    width: 100%;
    height: 55%;
    margin: 0 2.5% 2.5% 2.5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.level-up-container{
    position: fixed;
    background-color: #61C1F6;
    border: 2px solid black;
    width: 70%;
    height: 55%;
}
.level-up-container-attributes{
    position: relative;
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
}
.level-up-container-attributes img{
    height: 100%;
    width: 50%;
    border: 2px solid black;
    margin: 2.5% 0 0 2.5%;
}

.level-up-container-attributes-element-container{
    position: relative;
    height: 90%;
    width: 45%;
    color:white;
}
.level-up-container-attributes-element{
    position: relative;
    width: 100%;
    height: 20%;
    background-color: #369DD7;
    display: flex; /* Usamos flexbox para alinear los elementos en una línea */
    align-items: center; /* Alinea los elementos verticalmente */
    justify-content: flex-start;
}
.level-up-container-attributes-element h1{
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 5%;
    font-size: 120%; /* Reducir el tamaño de la fuente */

}

.level-up-buttons{
    margin-top: 5%;
    display: flex;
}

.level-up-container-attributes-element-buttons {
    display: inline-flex; /* Para alinear los botones en línea */
    gap: 2.5%; /* Espacio entre los botones */
}