.gacha-prize{
    position: relative;
    width: 90%;
    height: 70%;
    display: flex;
    align-items: center;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    justify-content: space-between;
}
.gacha-prize img{
    width: 40%;
    height: 100%;
}
#roulette {
    width: 50%;
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
}
#card-roulette{
    border: 2px solid black;
}